[submodule "ground-sensor/code/frankenstein"]
	path = ground-sensor/code/frankenstein
	url = git@github.com:pastcompute/esp8266-frankenstein.git
[submodule "base-station/libsocket"]
	path = base-station/libsocket
	url = https://github.com/pastcompute/libsocket.git
[submodule "base-station/org.eclipse.mosquitto.rsmb"]
	path = base-station/org.eclipse.mosquitto.rsmb
	url = https://github.com/pastcompute/rsmb.git
	branch = my_fixes
[submodule "base-station/mcu/AsyncMQTT-SN"]
	path = base-station/mcu/AsyncMQTT-SN
	url = https://github.com/pastcompute/AsyncMQTT-SN.git
[submodule "base-station/mcu/Adafruit_BMP085_Unified"]
	path = base-station/mcu/Adafruit_BMP085_Unified
	url = https://github.com/adafruit/Adafruit_BMP085_Unified
[submodule "base-station/mcu/Adafruit_Sensor"]
	path = base-station/mcu/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
