[submodule "ground-sensor/code/frankenstein"]
	path = ground-sensor/code/frankenstein
	url = git@github.com:pastcompute/esp8266-frankenstein.git
[submodule "base-station/libsocket"]
	path = base-station/libsocket
	url = https://github.com/pastcompute/libsocket.git
[submodule "base-station/org.eclipse.mosquitto.rsmb"]
	path = base-station/org.eclipse.mosquitto.rsmb
	url = https://github.com/pastcompute/rsmb.git
	branch = my_fixes
