CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_TLWR1043=y
CONFIG_DEVEL=y
CONFIG_DOWNLOAD_FOLDER="/scratch/DL/openwrt"
CONFIG_BUILD_LOG=y
CONFIG_CCACHE=y
CONFIG_GDB=n
CONFIG_SDK=y
CONFIG_MAKE_TOOLCHAIN=y
CONFIG_PACKAGE_busybox=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_LSUSB=y
CONFIG_BUSYBOX_CONFIG_DIFF=y
CONFIG_BUSYBOX_CONFIG_OD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_MTIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FIND_NEWER=y
CONFIG_BUSYBOX_CONFIG_MODINFO=y
CONFIG_PACKAGE_hwclock=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
CONFIG_PACKAGE_kmod-usb-serial-pl2303=y
CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-i2c-gpio=y
CONFIG_PACKAGE_kmod-i2c-gpio-custom=y
CONFIG_PACKAGE_kmod-ledtrig-timer=y
CONFIG_PACKAGE_kmod-ledtrig-default-on=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-w1=y
CONFIG_PACKAGE_kmod-w1-master-gpio=y
CONFIG_PACKAGE_kmod-w1-slave-therm=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_ppp-mod-pppoe=n
# scripts/feeds update
# scripts/feeds install netcat picocom
CONFIG_PACKAGE_netcat=y
CONFIG_PACKAGE_picocom=y
# make kernel_menuconfig :-->
# +CONFIG_RTC_CLASS=y
# +CONFIG_RTC_DRV_DS1307=y
# make defconfig


